<h1> Welcome to your online diary!</h1>
<h2> Please add an entry below:</h2>
<form action='/add' method= 'post'>
  <label for="title">
    Title:
    <input id='title' type='text' name="title">
  </label>
   <label for='body'>
    Body:
    <input id='body' type='text' name='body'>
  </label>
  <input type='submit' value='Submit Entry'>
</form>