<h1> Welcome to your online diary!</h1>
<h2> Please add an entry below:</h2>
<form action='/add' method= 'post'>
  <label for="title">
    Title:
    <input id='title' type='text' name="title">
  </label>
   <label for='body'>
    Body:
    <input id='body' type='text' name='body'>
  </label>
  <input type='submit' value='Submit Entry'>
</form>
<h3>Here is a list of your entries</h3>
<ul>
  <% @entries.each do |entry| %>
    <li class="entry_log" id="entries-<%= entry.id %>">
      <a href="<%= entry.body %>" target="_blank">
        <%= entry.title %>
      </a>
      <% end%>
</ul>